html,
body {
    height: 100%;
    width: 100%;
    background-color: #777970;
    overflow: hidden;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background-image: linear-gradient(200deg, #7f7280, #000000);
    overflow: hidden;
}

#span-time {
    display: block;
    text-align: center;
}

#canvas,
#songImg {
    position: absolute;
    display: block;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#songImg {
    border-radius: 50%;
}


/* 滑块  进度条 */

#div-lightBox {
    height: 2px;
    border: none;
    cursor: pointer;
}

#div-lightBox:hover {
    box-shadow: 0px 0px 2px 1px rgba(65, 189, 216, 0.9);
}

#div-lightBox .ui-slider-range {
    background: #4cffdf;
}

#div-lightBox span {
    height: 8px;
    width: 8px;
    top: -3px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 165, 208, 1);
    cursor: pointer;
    overflow: hidden;
}

#div-lightBox span:hover {
    box-shadow: 0px 0px 1px 1px rgba(0, 165, 208, 0.9), 0px 0px 5px 2px rgba(0, 165, 208, 0.9);
}

#audio-custom {
    width: 60%;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

#audio-custom .glyphicon {
    color: rgba(0, 255, 210, 0.7);
    font-size: 20px;
    margin: 10px 20px 10px 20px;
}

#glyphiconBox {
    margin: 30px;
}

#audio-custom span:hover {
    color: rgba(0, 213, 213, 0.9);
    cursor: pointer;
}

#audio-custom span:active {
    color: rgba(0, 190, 190, 0.9);
}

#startTime {
    font-size: 20px;
    position: relative;
    color: rgba(0, 190, 190, 0.9);
}

#endTime {
    font-size: 20px;
    position: relative;
    color: rgba(0, 190, 190, 0.9);
}

input[type="file"] {
    display: none;
}

#songs {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: auto;
}

#songs a {
    display: block;
}

#lyric {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    white-space: pre-line;
    overflow: auto;
}

#lyric li {
    position: relative;
    text-align: center;
    list-style: none;
}

.lineheight {
    color: rgba(161, 216, 230, 1);
    font-weight: bold;
    font-size: 120%;
}